@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Oxygen", sans-serif;
  font: italic;
}

html {
  height: 100%;
}

h1 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.7959558823529411) 0%,
    rgba(17, 57, 212, 0.938813025210084) 92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botonCrearNota {
  padding-right: 15%;
}

#Header {
  font-style: oblique;
  padding-top: 5%;
  padding-left: 7%;
  padding-bottom: 5%;
}

#filtro {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5%;
}

.card {
  margin-bottom: 4%;
  -webkit-box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.36);
  box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.36);
}


#notas {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

#boton {
  margin-top: 2%;
  float: right;
}
.card-header {
  background: rgb(2, 0, 36);
  color: white;
  background: rgba(73, 155, 234, 1);
}

#botonEdit {
  width: 100px;
  float: right;
  margin-right: 10px;
}
#botonBorrado {
  width: 100px;
  float: right;
}
.display-5 {
  font-family: "Comfortaa", b;
}

